.bank-card {
  width: 100%;
  margin: 30px auto;
}

.bank-card .bank-title-button-card{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.bank-title-button-card h2 {
  margin-bottom: 1.5rem;
  color: var(--bg-primary);
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-weight: bold;
  color: var(--bg-secondary-dark);
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid var(--bg-primary);
  border-radius: 6px;
  font-size: var(--font-md);
  background-color: var(--bg-primary);
}

.input-group input:disabled {
  color: var(--bg-secondary);
}

.error {
  font-size: 0.8rem;
  color: red;
  margin-top: 5px;
}

/* UPI Toggle Switch */
.toggle-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.switch {
  position: relative;
  width: 46px;
  height: 24px;
  display: inline-block;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  background: #ccc;
  border-radius: 34px;
  top: 0; left: 0; right: 0; bottom: 0;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background: white;
  border-radius: 50%;
  transition: .3s;
}

input:checked + .slider {
  background: var(--bg-secondary-dark);
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.edit-btn,
.save-btn {
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.edit-btn {
  background: var(--bg-secondary-dark);
  color: #fff;
}

.save-btn {
  background: var(--bg-secondary-dark);
  color: white;
}

@media (max-width : 600px) {
  .bank-title-button-card h2 {
    font-size: var(--font-md);
  }

  .edit-btn,
  .save-btn {
    padding: 8px;
    font-size: var(--font-md) !important;
  }

  .input-group label {
    font-size: var(--font-sm);
  }
}