.custom-banner{
    width: 100% !important;
    height: 32px;
    max-height: 32px;
    padding: 0 2rem;

    background-color: var(--bg-secondary-dark);
    color: var(--font-primary);

    font-size: var(--font-sm);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.custom-banner .icon-close{
    font-size: var(--font-l);
    cursor: pointer;
}