
.loader-flex-box img{
    width: 300px;
    height: 200px;
}
@media (max-width:600px){
    .loader-flex-box img{
        width: 240px;
        height: 160px;
    }
}

.loader{
    width: 200px;
    height: 70px;
}
.loader-outer{
    width: 180px;
    height: 30px;
    border: 8px solid var(--bg-secondary);
    background-color: var(--bg-primary);
    border-radius: 100px;
}
.loader-inner{
    width: 164px;
    height: 14px;
    background: linear-gradient(to right,var(--font-primary),var(--bg-crimson));
    /* background-color: var(--bg-crimson); */
    border-radius: 100px;
    animation: loader 3s 1 linear;
}
@keyframes loader {
    0%{
        width: 10px;
    }
    100%{
        width: 164px;
    }
}
.loader p{
    color: var(--font-light);
    font-size: var(--font-sm);
}