.scene {
    width: 180px;
    height: 180px;
    max-height: 180px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: 1;
}
.cylinder {
  /* this variable will define how big the curve will be */
  --r: 40px;
  /* whatever values/units you want */
  width: 160px;
  height: 180px;
  background: 
    radial-gradient(50% var(--r) at 50% var(--r), #0003 99.99%, #0000 0),
    #965205;
  border-radius: 100% / calc(var(--r) * 2);
  
  transform-style: preserve-3d;
  /* depth */
  box-shadow:
    inset 0 -10px 30px rgba(0,0,0,0.55),
    inset 0 6px 10px rgba(255,255,255,0.2);
}
.cylinder.animate {
  animation: wobble .7s ease-in-out 5;
}

@keyframes wobble {
  0%   { transform: translate(0px, 0px); }
  10%  { transform: translate(6px, 3px); }
  20%  { transform: translate(12px, 8px); }
  30%  { transform: translate(16px, 16px); }
  40%  { transform: translate(8px, 22px); }
  50%  { transform: translate(0px, 26px); }
  60%  { transform: translate(-8px, 22px); }
  70%  { transform: translate(-16px, 16px); }
  80%  { transform: translate(-12px, 8px); }
  90%  { transform: translate(-6px, 3px); }
  100% { transform: translate(0px, 0px); }
}