USE [master]
GO
/****** Object:  Database [NumberGame]    Script Date: 03-01-2026 17:46:58 ******/
CREATE DATABASE [NumberGame]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NumberGame', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NumberGame.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NumberGame_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NumberGame_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NumberGame].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NumberGame]
GO
/****** Object:  User [srilu]    Script Date: 03-01-2026 17:46:58 ******/
CREATE USER [srilu] FOR LOGIN [srilu] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [srilu]
GO
USE [NumberGame]
GO
/****** Object:  Sequence [dbo].[seq_bankaccountsid]    Script Date: 03-01-2026 17:46:58 ******/
CREATE SEQUENCE [dbo].[seq_bankaccountsid] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [NumberGame]
GO
/****** Object:  Sequence [dbo].[seq_bidid]    Script Date: 03-01-2026 17:46:58 ******/
CREATE SEQUENCE [dbo].[seq_bidid] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [NumberGame]
GO
/****** Object:  Sequence [dbo].[seq_loginsessionid]    Script Date: 03-01-2026 17:46:58 ******/
CREATE SEQUENCE [dbo].[seq_loginsessionid] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [NumberGame]
GO
/****** Object:  Sequence [dbo].[seq_orderid]    Script Date: 03-01-2026 17:46:58 ******/
CREATE SEQUENCE [dbo].[seq_orderid] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [NumberGame]
GO
/****** Object:  Sequence [dbo].[seq_resultid]    Script Date: 03-01-2026 17:46:58 ******/
CREATE SEQUENCE [dbo].[seq_resultid] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [NumberGame]
GO
/****** Object:  Sequence [dbo].[seq_sessionid]    Script Date: 03-01-2026 17:46:58 ******/
CREATE SEQUENCE [dbo].[seq_sessionid] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [NumberGame]
GO
/****** Object:  Sequence [dbo].[seq_userotpsid]    Script Date: 03-01-2026 17:46:58 ******/
CREATE SEQUENCE [dbo].[seq_userotpsid] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [NumberGame]
GO
/****** Object:  Sequence [dbo].[seq_userprofilesid]    Script Date: 03-01-2026 17:46:58 ******/
CREATE SEQUENCE [dbo].[seq_userprofilesid] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [NumberGame]
GO
/****** Object:  Sequence [dbo].[seq_userresultid]    Script Date: 03-01-2026 17:46:58 ******/
CREATE SEQUENCE [dbo].[seq_userresultid] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [NumberGame]
GO
/****** Object:  Sequence [dbo].[seq_usersid]    Script Date: 03-01-2026 17:46:58 ******/
CREATE SEQUENCE [dbo].[seq_usersid] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [NumberGame]
GO
/****** Object:  Sequence [dbo].[seq_walletrequestid]    Script Date: 03-01-2026 17:46:58 ******/
CREATE SEQUENCE [dbo].[seq_walletrequestid] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [NumberGame]
GO
/****** Object:  Sequence [dbo].[seq_walletsid]    Script Date: 03-01-2026 17:46:58 ******/
CREATE SEQUENCE [dbo].[seq_walletsid] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [NumberGame]
GO
/****** Object:  Sequence [dbo].[seq_wallettxnid]    Script Date: 03-01-2026 17:46:58 ******/
CREATE SEQUENCE [dbo].[seq_wallettxnid] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[BankAccounts]    Script Date: 03-01-2026 17:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccounts](
	[ba_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[acc_number] [varchar](50) NOT NULL,
	[bank_name] [varchar](50) NOT NULL,
	[IFSC_code] [varchar](20) NOT NULL,
	[mobile] [varchar](15) NOT NULL,
	[is_upi_available] [bit] NULL,
	[last_updated] [datetime2](7) NOT NULL,
	[is_active] [bit] NULL,
	[branch_name] [varchar](20) NULL,
	[pincode] [varchar](10) NULL,
 CONSTRAINT [PK_ba_Id] PRIMARY KEY CLUSTERED 
(
	[ba_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bids]    Script Date: 03-01-2026 17:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bids](
	[bid_id] [bigint] NOT NULL,
	[session_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[chosen_number] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_bid_Id] PRIMARY KEY CLUSTERED 
(
	[bid_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_control]    Script Date: 03-01-2026 17:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_control](
	[control_id] [int] IDENTITY(1,1) NOT NULL,
	[is_active] [bit] NOT NULL,
	[last_updated] [datetime2](7) NOT NULL,
	[updated_by] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[control_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_sessions]    Script Date: 03-01-2026 17:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_sessions](
	[session_id] [bigint] NOT NULL,
	[session_start] [datetime2](7) NOT NULL,
	[session_end] [datetime2](7) NOT NULL,
	[bidding_end] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_session_Id] PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login_sessions]    Script Date: 03-01-2026 17:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login_sessions](
	[login_session_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[is_active] [bit] NULL,
	[session_starttime] [datetime2](7) NOT NULL,
	[session_endtime] [datetime2](7) NULL,
	[token] [varchar](500) NOT NULL,
 CONSTRAINT [PK_login_session_id] PRIMARY KEY CLUSTERED 
(
	[login_session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_orders]    Script Date: 03-01-2026 17:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_orders](
	[order_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[txn_ref] [bigint] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[gateway] [varchar](50) NOT NULL,
	[gateway_order_id] [varchar](100) NOT NULL,
	[gateway_payment_id] [varchar](100) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_order_Id] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[session_results]    Script Date: 03-01-2026 17:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[session_results](
	[result_id] [bigint] NOT NULL,
	[session_id] [bigint] NOT NULL,
	[winning_number] [varchar](20) NULL,
	[declared_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_result_Id] PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[session_user_results]    Script Date: 03-01-2026 17:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[session_user_results](
	[user_result_id] [bigint] NOT NULL,
	[session_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[chosen_number] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[is_winner] [bit] NOT NULL,
	[payout] [decimal](10, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_user_result_Id] PRIMARY KEY CLUSTERED 
(
	[user_result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_otps]    Script Date: 03-01-2026 17:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_otps](
	[verification_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[email_otp] [varchar](6) NOT NULL,
	[phone_otp] [varchar](6) NOT NULL,
	[is_verified] [bit] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[expires_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_verification_Id] PRIMARY KEY CLUSTERED 
(
	[verification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_profiles]    Script Date: 03-01-2026 17:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_profiles](
	[profile_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[full_name] [varchar](100) NOT NULL,
	[avatar_url] [varchar](max) NULL,
	[dob] [date] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[address] [varchar](200) NULL,
	[pincode] [varchar](10) NULL,
	[updated_at] [datetime2](7) NULL,
 CONSTRAINT [PK_profile_Id] PRIMARY KEY CLUSTERED 
(
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 03-01-2026 17:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [bigint] NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[is_verified] [bit] NULL,
	[is_active] [bit] NULL,
	[is_admin] [int] NULL,
 CONSTRAINT [PK_user_Id] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wallet_requests]    Script Date: 03-01-2026 17:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wallet_requests](
	[request_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[request_type] [varchar](20) NOT NULL,
	[amount] [decimal](20, 0) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[admin_note] [varchar](255) NULL,
	[payment_ref] [varchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[pay_img] [varchar](max) NULL,
 CONSTRAINT [PK_walletrequest_Id] PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wallet_transactions]    Script Date: 03-01-2026 17:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wallet_transactions](
	[txn_id] [bigint] NOT NULL,
	[wallet_id] [bigint] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[reference_id] [varchar](50) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[txn_type] [varchar](10) NOT NULL,
 CONSTRAINT [PK_txn_Id] PRIMARY KEY CLUSTERED 
(
	[txn_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wallets]    Script Date: 03-01-2026 17:46:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wallets](
	[wallet_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[balance] [decimal](10, 2) NOT NULL,
	[last_updated] [datetime2](7) NOT NULL,
	[is_active] [bit] NULL,
 CONSTRAINT [PK_wallet_Id] PRIMARY KEY CLUSTERED 
(
	[wallet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BankAccounts] ADD  DEFAULT (NEXT VALUE FOR [seq_bankaccountsid]) FOR [ba_id]
GO
ALTER TABLE [dbo].[BankAccounts] ADD  DEFAULT ((0)) FOR [is_upi_available]
GO
ALTER TABLE [dbo].[BankAccounts] ADD  DEFAULT (sysdatetime()) FOR [last_updated]
GO
ALTER TABLE [dbo].[BankAccounts] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[bids] ADD  DEFAULT (NEXT VALUE FOR [seq_bidid]) FOR [bid_id]
GO
ALTER TABLE [dbo].[bids] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[game_control] ADD  DEFAULT ((0)) FOR [is_active]
GO
ALTER TABLE [dbo].[game_control] ADD  DEFAULT (getdate()) FOR [last_updated]
GO
ALTER TABLE [dbo].[game_sessions] ADD  DEFAULT (NEXT VALUE FOR [seq_sessionid]) FOR [session_id]
GO
ALTER TABLE [dbo].[game_sessions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[login_sessions] ADD  DEFAULT (NEXT VALUE FOR [seq_loginsessionid]) FOR [login_session_id]
GO
ALTER TABLE [dbo].[login_sessions] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[login_sessions] ADD  DEFAULT (sysdatetime()) FOR [session_starttime]
GO
ALTER TABLE [dbo].[login_sessions] ADD  DEFAULT (NULL) FOR [session_endtime]
GO
ALTER TABLE [dbo].[payment_orders] ADD  DEFAULT (NEXT VALUE FOR [seq_orderid]) FOR [order_id]
GO
ALTER TABLE [dbo].[payment_orders] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[session_results] ADD  DEFAULT (NEXT VALUE FOR [seq_resultid]) FOR [result_id]
GO
ALTER TABLE [dbo].[session_results] ADD  DEFAULT (sysdatetime()) FOR [declared_at]
GO
ALTER TABLE [dbo].[session_user_results] ADD  DEFAULT (NEXT VALUE FOR [seq_userresultid]) FOR [user_result_id]
GO
ALTER TABLE [dbo].[session_user_results] ADD  DEFAULT ((0)) FOR [payout]
GO
ALTER TABLE [dbo].[session_user_results] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_otps] ADD  DEFAULT (NEXT VALUE FOR [seq_userotpsid]) FOR [verification_id]
GO
ALTER TABLE [dbo].[user_otps] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[user_otps] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_profiles] ADD  DEFAULT (NEXT VALUE FOR [seq_userprofilesid]) FOR [profile_id]
GO
ALTER TABLE [dbo].[user_profiles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[user_profiles] ADD  DEFAULT (NULL) FOR [pincode]
GO
ALTER TABLE [dbo].[user_profiles] ADD  DEFAULT (NULL) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NEXT VALUE FOR [seq_usersid]) FOR [user_id]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_admin]
GO
ALTER TABLE [dbo].[wallet_requests] ADD  DEFAULT (NEXT VALUE FOR [seq_walletrequestid]) FOR [request_id]
GO
ALTER TABLE [dbo].[wallet_requests] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[wallet_requests] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[wallet_requests] ADD  DEFAULT (NULL) FOR [pay_img]
GO
ALTER TABLE [dbo].[wallet_transactions] ADD  DEFAULT (NEXT VALUE FOR [seq_wallettxnid]) FOR [txn_id]
GO
ALTER TABLE [dbo].[wallet_transactions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[wallet_transactions] ADD  DEFAULT ('SELF') FOR [txn_type]
GO
ALTER TABLE [dbo].[wallets] ADD  DEFAULT (NEXT VALUE FOR [seq_walletsid]) FOR [wallet_id]
GO
ALTER TABLE [dbo].[wallets] ADD  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[wallets] ADD  DEFAULT (sysdatetime()) FOR [last_updated]
GO
ALTER TABLE [dbo].[wallets] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[BankAccounts]  WITH CHECK ADD  CONSTRAINT [FK_bankaccounts_userid] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[BankAccounts] CHECK CONSTRAINT [FK_bankaccounts_userid]
GO
ALTER TABLE [dbo].[bids]  WITH CHECK ADD  CONSTRAINT [FK_bids_sessionid] FOREIGN KEY([session_id])
REFERENCES [dbo].[game_sessions] ([session_id])
GO
ALTER TABLE [dbo].[bids] CHECK CONSTRAINT [FK_bids_sessionid]
GO
ALTER TABLE [dbo].[bids]  WITH CHECK ADD  CONSTRAINT [FK_bids_userid] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[bids] CHECK CONSTRAINT [FK_bids_userid]
GO
ALTER TABLE [dbo].[login_sessions]  WITH CHECK ADD  CONSTRAINT [FK_login_sessions_userid] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[login_sessions] CHECK CONSTRAINT [FK_login_sessions_userid]
GO
ALTER TABLE [dbo].[payment_orders]  WITH CHECK ADD  CONSTRAINT [FK_payment_orders_txnid] FOREIGN KEY([txn_ref])
REFERENCES [dbo].[wallet_transactions] ([txn_id])
GO
ALTER TABLE [dbo].[payment_orders] CHECK CONSTRAINT [FK_payment_orders_txnid]
GO
ALTER TABLE [dbo].[payment_orders]  WITH CHECK ADD  CONSTRAINT [FK_payment_orders_userid] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[payment_orders] CHECK CONSTRAINT [FK_payment_orders_userid]
GO
ALTER TABLE [dbo].[session_results]  WITH CHECK ADD  CONSTRAINT [FK_session_results_sessionid] FOREIGN KEY([session_id])
REFERENCES [dbo].[game_sessions] ([session_id])
GO
ALTER TABLE [dbo].[session_results] CHECK CONSTRAINT [FK_session_results_sessionid]
GO
ALTER TABLE [dbo].[session_user_results]  WITH CHECK ADD  CONSTRAINT [FK_user_results_sessionid] FOREIGN KEY([session_id])
REFERENCES [dbo].[game_sessions] ([session_id])
GO
ALTER TABLE [dbo].[session_user_results] CHECK CONSTRAINT [FK_user_results_sessionid]
GO
ALTER TABLE [dbo].[session_user_results]  WITH CHECK ADD  CONSTRAINT [FK_user_results_userid] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[session_user_results] CHECK CONSTRAINT [FK_user_results_userid]
GO
ALTER TABLE [dbo].[user_otps]  WITH CHECK ADD  CONSTRAINT [FK_user_otps_userid] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[user_otps] CHECK CONSTRAINT [FK_user_otps_userid]
GO
ALTER TABLE [dbo].[user_profiles]  WITH CHECK ADD  CONSTRAINT [FK_user_profiles_userid] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[user_profiles] CHECK CONSTRAINT [FK_user_profiles_userid]
GO
ALTER TABLE [dbo].[wallet_requests]  WITH CHECK ADD  CONSTRAINT [FK_walletrequests_userid] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[wallet_requests] CHECK CONSTRAINT [FK_walletrequests_userid]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [FK_wallet_transactions_walletid] FOREIGN KEY([wallet_id])
REFERENCES [dbo].[wallets] ([wallet_id])
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [FK_wallet_transactions_walletid]
GO
ALTER TABLE [dbo].[wallets]  WITH CHECK ADD  CONSTRAINT [FK_wallets_userid] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[wallets] CHECK CONSTRAINT [FK_wallets_userid]
GO
USE [master]
GO
