@import url('./variables.css');
@import url('./components/CustomLoader.css');
@import url('./components/CustomBanner.css');
@import url('./components/AppHeader.css');
@import url('./auth/index.css');
@import url('./app/index.css');
@import url('./app/profile.css');
@import url('./app/dashboard.css');
@import url('./app/wallet.css');
@import url('./games/NumberGame.css');
@import url('./games/DiceRoll.css');
@import url('./games/GameSummary.css');

/* your other styles */
body {
  font-family: var(--font-family-primary);
  background: var(--bg-gradient);
  transition: 0.5s;
}

.box-100{
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-page{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}
.error-page button{
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}